* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#d7dde8, #757f9a);
    background-repeat: no-repeat;
    background-color: #757f9a;
}

body * {
    font-family: 'Inter';
    line-height: 160%;
}



header {
    text-align: center;
    padding-top: 10rem;
}

header img {
    width: 10rem;
}

main{
    max-width: 40rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

h1 {
    font-weight: 850;
    letter-spacing: 2px;
}


section a  {
    all: unset;
    border-radius: 0.7rem;
    width: 50%;
    background-image: linear-gradient( 90deg,#283048, #859398);
    padding: 1.1rem;
    font-weight: bold;
    margin: 15px auto;
    text-transform: uppercase;
    box-shadow: 1px 1px black;
    border: 1px 1px black;
    letter-spacing: 1.2px;
    display: block;
}

section a:hover {
    cursor: pointer;
    box-shadow: 2px 6px 2rem #39a5cc;
    background-image: linear-gradient( 0deg,#1b2031, #abbcc2);
}


#buttons {
    padding: 1rem;
    
}

form{
    text-align: center;
    padding: 32rem auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 1rem auto;
}


input {
    all: unset;
    border-bottom: 1px solid#283048;
    width: 90%;
    max-width: 32rem;
    margin: 1rem;
    padding: 15px;
}

input:hover{
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border: 1px solid #283048;
    border-top: unset;
}


button{
    all: unset;
    border-radius: 0.4rem;
    background-image: linear-gradient( 290deg,#283048, #859398);
    padding: 0.675rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    width: 50%;
    margin: 15px auto;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 6px 1rem #39a5cc;
    background-image: linear-gradient( 0deg,#1b2031, #abbcc2);
}

form a{
    width: 100%;
    padding-left: 70%;
}


